/*navbar*/


/*body */
body {

}

/*Index Page*/

/*Question Form*/
.questions {
  margin-top: 75px;
  margin-right: 70px;
}

#test1, #test2, #test3, #test4 {
  display: none;
}

button {
  margin-top: 25px;
}

/*FAQ*/
.thumbnail {
  margin-top: 75px;
  background-color: white;
}
