/*navbar*/


/*body */
body {
  background-color: #C39EDB;
}
label {
  color: black;
}

p {
  font-size: 115px;
  font-family: monospace;
}

#vacation {
  font-family: cursive;
  font-size: 125px;
  color: #E6E615;
  border: solid;
  border-radius: 500px;
  border-color: blue;
}

#vacation1 {
  font-family: monospace;
  font-size: 115px;
  color: #E6E615;
  border: solid;
  border-radius: 500px;
  border-color: #15CAE6;
}

#vacation2 {
  font-family: monospace;
  font-size: 100px;
  color: #08889C;
  border: solid;
  border-radius: 500px;
  border-color: #208005;
}

#vacation3 {
  font-family: fantasy;
  font-size: 115px;
  color: white;
  border: solid;
  border-radius: 450px;
  border-color: red;
}




/*Question Form*/
.questions {
  margin-top: 75px;
  margin-right: 70px;
}

#vacation, #vacation1, #vacation2, #vacation3 {
  display: none;
}

button {
  margin-top: 25px;
}

#questin {
  float: left;
}

#destiout {
  float: right;
  margin-bottom: 500px;
}


/*FAQ*/
.thumbnail {
  margin-top: 75px;
  background-color: white;
}
