/*navbar*/


/*body */
body {
  background-color: #1C9E71;
}
label {
  color: black;
}

/*Index Page*/

/*Question Form*/
.questions {
  margin-top: 75px;
  margin-right: 70px;
}

#vacation, #vacation1, #vacation2, #vacation3 {
  display: none;
}

button {
  margin-top: 25px;
}

/*FAQ*/
.thumbnail {
  margin-top: 75px;
  background-color: white;
}
